body {
  color: #fff;
  background-image: url("/../img/cloudcity.jpg");
  background-attachment: fixed;
  background-color: #444;
}

img {
  max-width: 100%;
  overflow: hidden;
}

h1 {
  margin-top: 5px;
  font-size: 6vmin;
}

h2 {
  display: block;
  font-size: 3vmin;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: #fff;
}
