header {
  max-width: 812px;
}

#wrap {
  width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  max-width: 80%;
}

#projects li {
  display: inline-block;
}
