header {
  max-width: 812px;
  min-width: 300px;
}

#wrap {
  width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  max-width: 80%;
}

section li {
  display: inline-block;
}

#about li {
  display: block;
}
