.template {
  display: none;
}

article {
  display: inline-block;
  width: 90%;
  max-width: 730px;
  height: 100px;
  margin: 20px;
  padding: 20px;
  color: #000;
  background-color: #f0f0f0;
  overflow: auto;
}

#about {
  color: #000;
  background-color: #f0f0f0;
}

article a {
  color: #000;
}

article a:hover {
  color: #444;
}

article h2 {
  font-style: italic;
  font-size: .8em;
}

header {
  padding-left: 20px;
}

header h1 {
  float: left;
}

nav ul {
  display: none;
}

nav li {
  display: inline;
  margin: 20px;
  padding: 10px 5px;
  font-size: 1.5em;
}

.icon-menu {
  float: right;
  margin: 10px;
  font-size: 2em;
}

.project-link {
  margin-bottom: 20px;
}

.clicked a {
  color: #444;
  background-color: #999;
}

.clicked a:hover {
  color: #444;
}

.shown {
  position: absolute;
  display: block;
  right: 0;
  background-color: #fff;
  width: 120px;
}

.shown a:hover {
  color: #444;
}

@media only screen and (min-width: 700px) {
  nav ul {
    display: block;
    float: left;
  }

  nav span.icon-menu {
    display: none;
  }
};
